<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The Home Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Illum adipisci debitis sed asperiores perferendis a officia 
    reprehenderit rem provident nesciunt! Nemo porro natus harum 
    voluptatum ea. Hic et ex perferendis.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, 
    ea distinctio! Adipisci libero neque omnis atque repudiandae quasi 
    tenetur dolores amet? Alias hic veritatis quibusdam natus distinctio 
    non officia ab?
  </p>
</body>
</html>